# Abaikan folder bawaan CodeIgniter 4 agar tidak dihitung oleh GitHub Linguist
system/** linguist-vendored
vendor/** linguist-vendored
tests/** linguist-vendored

# (Opsional) Abaikan library frontend pihak ketiga jika ada
# frontend-spa/assets/vendor/** linguist-vendored
