# -------------------------------------------------------------------
# IDE & System Files
# -------------------------------------------------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# -------------------------------------------------------------------
# Dependencies (Library yang ukurannya sangat besar)
# -------------------------------------------------------------------
node_modules/
vendor/

# -------------------------------------------------------------------
# Environment & Sensitive Credentials
# -------------------------------------------------------------------
.env
.env.backup
*.log

# -------------------------------------------------------------------
# Framework Specific (CodeIgniter 4 Cache & Sessions)
# -------------------------------------------------------------------
writable/
