<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /UAS_Web2_312410545_Muhammad_Arkhamullah/frontend-spa/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /UAS_Web2_312410545_Muhammad_Arkhamullah/frontend-spa/index.html [L]
</IfModule>
